<% if @completed_solutions.kind_of?(String) %>
  <%= @completed_solutions %>
<% else %>
  <% @completed_solutions.each do |completed_solution| %>
    <%= link_to("#{completed_solution.id} | #{completed_solution.rank} kyu | #{completed_solution.title}", service_path(completed_solution.id)) %><br>
  <% end %>
<% end %>

