<div class="mg-top sec">
  <%= form_with model: @service do |form| %>

    <div class="mb-3 row h5 max-size ">
      <div class="col-sm-2 col-form-label">
        <%= form.label :id, class: 'required' %>
      </div>

      <div class="col-sm-10-service">
        <%= form.text_field :id, required: true, placeholder: 'Id', class: 'form-control' %>
      </div>
    </div>

    <div class="mb-3 row h5 max-size ">
      <div class="col-sm-2 col-form-label">
        <%= form.label :rank, class: 'required' %>
      </div>

      <div class="col-sm-10-service">
        <%= form.text_field :rank, required: true, placeholder: 'Rank', class: 'form-control' %>
      </div>
    </div>

    <div class="mb-3 row h5 max-size ">
      <div class="col-sm-2 col-form-label">
        <%= form.label :title, class: 'required' %>
      </div>

      <div class="col-sm-10-service">
        <%= form.text_field :title, required: true, placeholder: 'Title', class: 'form-control' %>
      </div>
    </div>

   <div class="mb-3 row h5 max-size ">
      <div class="col-sm-2 col-form-label">
        <%= form.label :link, class: 'required' %>
      </div>

      <div class="col-sm-10-service">
        <%= form.text_field :link, required: true, placeholder: 'Link', class: 'form-control' %>
      </div>
    </div>

    <div class="mb-3 row h5 max-size ">
      <div class="col-sm-3 col-form-label ">
        <%= form.label :description, class: 'required' %>
      </div>

      <div class="col-sm-9-service">
        <%= form.text_area :description, required: true, placeholder: 'Description', class: 'form-control description' %>
      </div>
    </div>

    <div class="mb-3 row h5 max-size ">
      <div class="col-sm-3 col-form-label">
        <%= form.label :solution_example %>
      </div>

      <div class="col-sm-9-service">
        <%= form.text_field :solution_example, placeholder: 'Solution example', class: 'form-control' %>
      </div>
    </div>

    <div class="mb-3 row h5 max-size ">
      <div class="col-sm-3 col-form-label">
        <%= form.label :service_class_name, class: 'required' %>
      </div>

      <div class="col-sm-9-service">
        <%= form.text_field :service_class_name, required: true, placeholder: 'Service class name', class: 'form-control' %>
      </div>
    </div>

    <div class="hr">
      <li><%= form.submit 'Save', class: 'button-header list black' %></li>
      <li><%= link_to 'Back', services_path, class: 'button-header list black' %></li>
    </div>
  <% end %>
</div>




