<% if @service_tests.kind_of?(String) %>
  <%= @service_tests %>
<% else %>
  <% @service_tests.each do |service_test| %>
    <%= link_to("#{service_test.id} | #{service_test.rank} kyu | #{service_test.title}", service_path(service_test.id)) %><br>
  <% end %>
<% end %>