<% if current_user.present? && current_user[:nickname] == 'admin' %>
  <%= link_to("Create a new kata", new_service_path, class: 'button-menu red') %>
<% end %>

<b><h4>Sort by: </h4><%= sortable "id" %> | <%= sortable "rank" %> | <%= sortable "title" %></b><hr>

<%= paginate @services %>

<div>
  <ul>
    <% @services.each do |service| %>
      <li class="list"><%= link_to("#{service.id} | #{service.rank} kyu | #{service.title}", service_path(service.id), :class => "kata") %>      
        <% if current_user.present? && current_user[:nickname] == 'admin' %>
          | <%= link_to image_tag("https://i.ibb.co/sPS7p6x/pencil.png", class: 'font'), edit_service_path(service), title: "Edit service" %>
          | <%= link_to image_tag("https://i.ibb.co/gVPs43F/trash.png", class: 'font1'), service_path(service), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        <% end %>
      </li><br>
    <% end %>
  </ul>
</div>

<%= paginate @services %>

