<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="kata-tab" data-bs-toggle="tab" data-bs-target="#kata-tab-pane" type="button" role="tab" aria-controls="kata-tab-pane" aria-selected="true">
      Kata
    </button>
  </li>

  <% if current_user.present? %>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="completed_solutions-tab" data-bs-toggle="tab" data-bs-target="#completed_solutions-tab-pane" type="button" role="tab" aria-controls="completed_solutions-tab-pane" aria-selected="false">
        Solutions
      </button>
    </li>

    <li class="nav-item" role="presentation">
      <button class="nav-link" id="service_tests-tab" data-bs-toggle="tab" data-bs-target="#service_tests-tab-pane" type="button" role="tab" aria-controls="service_tests-tab-pane" aria-selected="false">
        Tests
      </button>
    </li>

    <% if current_user[:nickname] == 'admin' %>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="users-tab" data-bs-toggle="tab" data-bs-target="#users-tab-pane" type="button" role="tab" aria-controls="users-tab-pane" aria-selected="false">
          Users
        </button>
      </li>
    <% end %>
  <% end %>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="kata-tab-pane" role="tabpanel" aria-labelledby="kata-tab" tabindex="0">
    <%= render 'services_list' %>
  </div>

  <% if current_user.present? %>
    <div class="tab-pane fade" id="completed_solutions-tab-pane" role="tabpanel" aria-labelledby="completed_solutions-tab" tabindex="0">
      <%= render 'completed_solutions' %>
    </div>

    <div class="tab-pane fade" id="service_tests-tab-pane" role="tabpanel" aria-labelledby="service_tests-tab" tabindex="0">
      <%= render 'service_tests' %>
    </div>

    <% if current_user[:nickname] == 'admin' %>
      <div class="tab-pane fade" id="users-tab-pane" role="tabpanel" aria-labelledby="users-tab" tabindex="0">
      
        <% UsersList::Base.new(current_user).show_all_users.each do |user| %>
          <li class="list">
            <%= "#{user.id} | #{user.name} | #{user.nickname} | #{user.email} | #{user.solutions_numbers} | " %>
            <%= link_to image_tag("https://i.ibb.co/gVPs43F/trash.png", class: 'font1'), user_path(user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          </li><br>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
