<section>
  <h2 class="title"><%= @service.title %></h1>
  <% unless tests.values.include?(@service.id) %>
    <%= link_to("Codewars Link", @service.link, class: "kata link") %>
  <% end %>

  <h3>Description:</h3>
  <%= @service.description.html_safe %><hr>
  
  <% unless tests.values.include?(@service.id) %>
    <h3>Solution example:</h3>
    <div class="box">
      <%= @service.solution_example.html_safe %>
    </div>
  <% end %>

  <hr>
  <%= form_with model: @service, method: :patch, url: service_path(@service.id) do |form| %>
    <% unless tests.values.include?(@service.id) %>
      <%= form.label :test_input, class: "form sm" %><br>
      <%= form.text_field :test_input, value: @test_input %>
    <% else %>

      <div class="mb-3 row h5 max-size ">
        <div class="col-sm-3 col-form-label ">
          <%= form.label 'Your solution:' %>
        </div>

        <div class="col-sm-9-service">
          <%= @service.solution_example.split(",  ")[0].html_safe %><br>
          <%= form.text_area :test_input, placeholder: 'Your solution:', value: @test_input, class: 'form-control resalt_240' %>
          end
        </div>
      </div>
    <% end %>  
    <div class="hr">
      <%= form.submit "Get result", class: 'button main' %>
    </div>
  <% end %>

  <% unless tests.values.include?(@service.id) %>
    <h3>Result:</h3>
    <textarea><%= @result %></textarea><br>
  <% else %>
    <div class="mb-3 row h5 max-size ">
      <div class="col-sm-3 col-form-label ">
        <h3>Result:</h3>
      </div>

      <div class="col-sm-9-service">
        <textarea class="form-control resalt_60"><%= @result %></textarea><br>
        <%= ('Your decision is '+(@result == (@service.solution_example.split(",  ")[1]) ? 'correct' : 'wrong')) unless @result.blank? %>
      </div>
    </div>
  <% end %>

  <div class="hr">
    <li><%= link_to 'Back', services_path, class: 'button-header black' %></li>
    <% if current_user.present? && current_user[:nickname] == 'admin' %>
      <li><%= link_to 'Edit service', edit_service_path(@service), class: 'button-header red' %></li>
      <li><%= button_to 'Delete service', service_path(@service), method: :delete, class: 'button-header red' %></li>
    <% end %>
  </div>
</section>
