<div class="small">
  <div class="conteiner">
    <h2 class="title">Log in</h2>

    <p class="title h6">Enter your email and password to visit the web-site</p>

    <div class="mg-top">
      <%= form_with scope: :session, url: :session, data: {turbo: false} do |form| %>
        <div class="mb-3 row h5">
          <div class="col-sm-2 col-form-label">
            <%= form.label :email %>
          </div>

          <div class="col-sm-9">
            <%= form.email_field :email, placeholder: 'Email', class: 'form-control' %>
          </div>
        </div>

        <div class="mb-3 row h5">
          <div class="col-sm-2 col-form-label">
            <%= form.label :password %>
          </div>

          <div class="col-sm-9">
            <%= form.password_field :password, placeholder: 'Password', class: 'form-control' %>
          </div>
        </div>
        <div class="hr">
          <li><%= form.submit 'Log in', class: 'button-header list black' %></li>
          <li><%= link_to 'Back', services_path, class: 'button-header list black' %></li>
        </div>
      <% end %>
    </div>
  </div>
</div>