<div class="small">
  <div class="conteiner">  
    <h2 class="title">Join the community!</h2>
    
    <div class="mg-top">      
      <%= form_with model: @user do |form| %>

        <div class="mb-3 row h5">
          <div class="col-sm-2 col-form-label">
            <%= form.label :name, class: 'required' %>
          </div>

          <div class="col-sm-9">
            <%= form.text_field :name, placeholder: 'Your name', class: 'form-control' %>
          </div>
        </div>

        <div class="mb-3 row h5">
          <div class="col-sm-2 col-form-label">
            <%= form.label :nickname, class: 'required' %>
          </div>

          <div class="col-sm-9">
            <%= form.text_field :nickname, placeholder: 'Your nickname', class: 'form-control' %>
          </div>
        </div>

        <div class="mb-3 row h5">
          <div class="col-sm-2 col-form-label">
            <%= form.label :email, class: 'required' %>
          </div>

          <div class="col-sm-9">
            <%= form.email_field :email, placeholder: 'Email', class: 'form-control' %>
          </div>
        </div>

        <div class="mb-3 row h5">
          <div class="col-sm-2 col-form-label">
            <%= form.label :password, class: 'required' %>
          </div>

          <div class="col-sm-9">
            <%= form.password_field :password, placeholder: 'Password', class: 'form-control' %>
          </div>
        </div>

        <div class="mb-3 row h5">
          <div class="col-sm-2 col-form-label">
            <%= form.label :password_confirmation, 'Confirm', class: 'required' %>
          </div>

          <div class="col-sm-9">
            <%= form.password_field :password_confirmation, placeholder: 'Password confirmation', class: 'form-control' %>
          </div>
        </div>

        <div class="hr">
          <li><%= form.submit 'Sign in', class: 'button-header list black' %></li>
          <li><%= link_to 'Back', services_path, class: 'button-header list black' %></li>
        </div>      
      <% end %>
    </div>
  </div>
</div>