body {
  font-family: 'Open Sans';
}

p.logo a {
  font-size: 31px;
  line-height: 62px;
  text-decoration: none;
  color: whitesmoke;
}

p.logo a:hover {
  color: red;
  transition: 1s;
}

.header {
  background: #222;
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin: 0 auto;
  height: 62px;
  width: 1000px;
}

.ul {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

li:hover {
  background-color: #DCDCDC;
  transition: 1s;
}

.menu {
  display: block;
  height: 62px;
  text-decoration: none;
  color: whitesmoke;
  padding: 0 10px;
  line-height: 62px;
}

.menu:hover {
  color: black;
  transition: 1.5s;
}

.button-header {
  background: none;
  font-size: 20px;
  color: whitesmoke;
  cursor: pointer;
  display: block;
  height: 62px;
}

li .button-header {
  border: 2px;
  border-style: solid;
  border-radius: 10px;
  padding: 0 10px;
}

li .button-header:hover{
  color: red;
}

li a.button-header {
  margin: 0 5px;
}

li a.button-header:hover {
  color: red;
}

li a.menu {
  font-size: 20px;
}

section {
  max-width: 1000px;
  margin:auto;
  padding-bottom: 20px;
  overflow: auto;
}

hr {
  margin-top: 10px;
}

b {  
  display: flex;
  flex-direction: row;
  align-items: stretch;
  line-height: 25px;
  width: 240px;
  padding: 5px;
  padding-top: 10px;
}

a.header_kata {
  width: 55px;
  text-align: center;
}

ul {
  padding-left: 16px;
}
a a.kata {
  line-height: 40px;
}

.title {
  margin-top: 35px;
  text-align: center;
}

h2 {
  font-size: xx-large;
}

h3 {
  font-size:x-large;
}

h4 {
  font-size:large;
  margin: 0;
}

.small {
  max-width: 550px;
  margin:auto;
  padding-bottom: 20px;
}

.form {
  font-size:x-large;
}

.sm {
  margin-bottom: 0;
}

.button.main{
  padding: 5px;
  margin: 5px 0;
  font-size: large;
  background: none;
  border: 2px;
  border-style: solid;
  border-radius: 10px;
}

a.kata.link {
  font-size: 20px;
  line-height: 62px;
  text-decoration: none;
}

.button-menu.red {
  font-size: 24px;
  color: black;
  margin: 0 16px;
}

.button-menu.red:hover {
  color: red;
}

i.fa.fa-pencil {
  font-size: 15px;
  height: 15px;
  font-weight: 15px;
  font-weight: 6000;
} 

.font {
  height: 17px;
  width: 17px;
  background: none;
}

.font1 {
  width: 14px;
}

div.hr {
  display: flex;
  justify-content: center;
}

.red {
  color: red;
  background-color: none;
}

.black {
  color: black;
  background-color: none;
}

.button-header {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-header.red:hover {
  color: black;
  background-color: red;
}

.inv {
  border: none;
  background-color: none;
}

.list {
  display: inline-block;
  padding: 0 5px 5px 0;
}

textarea {
  resize:both;
  height: 100px;
  width: 400px;
  max-width: 770px;
}

.description {
  height: 300px;
  width: 780px;
  max-width: 780px;
}

a.button-header.list.black {
  display: flex;  
}

.norm {
  font-size: x-large;
}

.mg-top {
  margin-top: 30px;
}

.message-alert {
  color: red;
  display: flex;
  justify-content: center;
}

.max-size {
  max-width: 1000px;
}

label.required::after {
  content: " *";
  color: red;
}

.col-sm-2 {
  width: 125px;
}

.col-sm-3 {
  width: 200px;
}

.col-sm-10-service {
  width: 870px;
}

.col-sm-9-service {
  width: 800px;
}

.resalt_60 {
  height: 60px;
}

.resalt_240 {
  height: 240px;
}

@media (max-width: 999px) {
  p.logo a {
    font-size: 24px;
    line-height: 48px;
  }

  .header-wrapper {    
    height: 48px;
    width: 100%;
  }

  .menu {
    height: 48px;
    line-height: 48px;
  }

  .button-header {
    height: 48px;
  }

  section {
    max-width: 500px;
  }

  .small {
    max-width: 500px;
  }

  .description {
    height: 150px;
    width: 500px;
    max-width: 500px;
  }

  textarea {
    width: 500px;
    max-width: 500px;
  }

  .max-size {
    max-width: 500px;
  }

  .col-sm-10-service {
    width: 500px;
  }

  .col-sm-9-service {
    width: 500px;
  }

  .resalt_240 {
    height: 205px;
  }

  #service_test_input {
    width: 500px;
  }

  img {
    max-width: 700px;
    width: auto;
    height: auto;
  }

  .box {
    width: 500px;
  }
}