<!DOCTYPE html>
<html>
  <head>
    <title>Learning examples RUBY</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <header class="header">
      <div class="header-wrapper">
        <p class="logo"><%= link_to 'Learning examples RUBY', root_path %></a>
        <nav>
          <ul class="ul">
            <% if user_sign_in? %>
              <li><a class="menu"><%= "@#{current_user.nickname}" %></a></li>
              <li><a class="menu"><%= button_to 'Log out', session_path, method: :delete, class: 'button-header' %></a></li>
            <% else %>
              <li><%= link_to 'Join', new_user_path, class: 'button-header menu' %></li>
              <li><%= link_to 'Log in', new_session_path, class: 'menu button-header' %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <section>
      <% if flash_success?(flash) %>
        <p class="mb mt message message-success"><%= flash[:success] %></p>
      <% elsif flash_alert?(flash) %>
        
        <% alerts(flash).each do |msg| %>
          <ol class="mb mt message message-alert">
            <%= "#{msg}!" %><br>
          </ol>
        <% end %>

      <% end %>
    
      <%= yield %>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
